# Ignore IntelliJ IDEA specific files
.idea/
*.iml
*.iws

# Ignore build and dependency files
out/
target/
node_modules/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore temporary files
*.swp
*.swo
~$*

# Ignore user-specific settings
.vscode/
*.bak
*.tmp
